

	<label> New User 
  </label>
  <form method="post" action="createZdUser">
    <input type = "email" name="email" placeholder="email"><br>
    <input type = "text" name="first_name" placeholder="first_name"><br>
    <input type = "text" name="last_name" placeholder="last_name"><br>
    <button  type="submit">Search</button>
  </form>

  <br>

  <table border="1px black solid">
  	<thead>
      <th>ZD_ID</th>
  		<th>email</th>
  		<th>Name</th>
      <th>Tickets</th>
  		<th>Created</th>
  	</thead>
  	<tbody>
  		{{#each users}}
        <tr>
          
          <td><a href="/user/{{this.id}}">{{this.id}}</a></td>
      		<td>{{this.email}}</td>
      		<td>{{this.name}}</td>
          <td><a href="/user/{{this.id}}"> {{this.count}} </a></td>
      		<td>{{this.created_at}}</td>
      </tr>
  		{{/each}}
  	</tbody>
  </table>
